/* 
  input[type="range"]::-moz-range-progress {
    background: #247753;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: #247753;
    border-radius: 5px;
  }

  input[type=range]::-moz-range-thumb {
    height: 22px;
    width: 22px;
    border-radius: 29px;
    background: #249035;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animation-duration: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #247753;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #247753;
    border: 1px solid #000000;
    border-radius: 10px;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000;
    height: 22px;
    width: 22px;
    border-radius: 29px;
    background: #249035;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #247753;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #247753;
  } */


.istyle{
  width: 80%;
  color: #42A256;
  background: url('kulka.png');
}

.istyle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url('kulka.png');
  cursor: pointer;
}





  .logoWarstwa{
    position: absolute;
    width: 100%;
    max-height: 775px;
    object-fit: cover;
  }




/*         
.yellowButton {
	box-shadow: 0px 1px 0px 0px #FDDD25;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.yellowButton:hover  {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#FDDD25;
}
.yellowButton:active  {
	position:relative;
	top:1px;
} */

.littleTextParts{
  font-size: small;
}



.smallOnes{
  font-size: smaller;
}


.ballIcon{
  border-radius: 100%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 2px 16px 0px rgba(161, 161, 161, 0.75);
  -moz-box-shadow: 0px 2px 16px 0px rgba(161, 161, 161, 0.75);
  box-shadow: 0px 2px 16px 0px rgba(161, 161, 161, 0.75);
  position: relative;
  background-color: white;
}

.ikonkaWKulce{
  margin-left: 31px;
  margin-top: 29px;
}


.greenBall{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: forestgreen;
  color: white;
text-align: center;
line-height: 30px;
position: absolute;
position: absolute;
    bottom: -15px;
    left: calc( 50% - 15px );
}


.arrow{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #EEEEEE;;
  color: white;
text-align: center;
line-height: 35px;
position: absolute;
}

.personalCard{
  width: 300px;
  height: 320px;
  -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 5px 0px rgb(117 113 113 / 18%);

/* 
-webkit-box-shadow: 0px 51px 28px -55px rgba(173,173,173,0.66);
-moz-box-shadow: 0px 51px 28px -55px rgba(173,173,173,0.66);
box-shadow: 0px 51px 28px -55px rgba(173,173,173,0.66); */
text-align: center;

padding-top: 32px;
border-radius: 5%;


}


.hierarchyTitle{
  color: #888888;
}

.titleWhite{
  color:#f8f8f8  ;
}
/* 
.flankShadow{
  width: 300px;
  height: 300px;
  background-color: green;

} */


.greenScreen{
  width: 100%;

}




.inputDates{
  width: 90%;
}


/* .yellowButton{
  width: 220px;
  height: 50px;
  background-color: #FDE028;


  border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}


.yellowButton:hover {
	background-color:#5cbf2a;
}
.yellowButton:active {
	position:relative;
	top:1px;
}

         */





.yellowButton {
	background-color:#FDE028;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;

  font-family:Arial;
  font-weight: bold;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.yellowButton:hover {
  background-color:#FDE028;
}
.yellowButton:active {
	position:relative;
	top:1px;
}

        

.seeMore{
  color: #42A256;
}


.ilePotrzebujesz{
  text-align: center;
  width: 375px;
   height: 550px; 
  margin-left: 130px;
    margin-top: -69px;
    margin-bottom: 80px;
    border-radius: 3%;
    -webkit-box-shadow: inset 0px -34px 0px -27px rgba(6,168,49,1);
-moz-box-shadow: inset 0px -34px 0px -27px rgba(6,168,49,1);
box-shadow: inset 0px -34px 0px -27px rgba(6,168,49,1);
}

.tuTego{
  width: 300px;
  max-width: 100% ;
  margin-bottom: 15px;
  height: 100px;
   -webkit-box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.17);
box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.17);
float:left; 

/* text-align: center; */
/* line-height: 35px; */
}

@media(max-width:800px){
  .tuTego{
  width: 100%;
  }
}
.sixSmallBoxes{
 
  width: auto;
  height: auto;
   float:left; 

  
}


.iconFont{
   float:left; 
  margin: 20px;
}
.greenScreen {
  position: relative;
}
.greenScreen::before{
  content: ' ';
  display: block;
  width: 100%;
  height: 94%;
  top: 3%;
  position: absolute;
  background: #f1f1f1;
  z-index: 0;
  border-radius: 15px;
}
.personalCard {
  position: relative;
  z-index: 2;
  background: #fff;
  margin: auto;
  margin: 0 10px;
}
.header-content-row {
  position: relative;
}

.greenSkreen {
  padding: 20px;
}
@media (min-width: 1600px)
{
.container {
    max-width: 1600px;
}
}


.footer{
  font-size: smaller;
  color: #888888;
  margin-left: 20%;
}






.titleCentralisation{
  text-align: center;

}

.colorize{
  text-align: center;
}

.menWithLaptop{
  margin-left: 15%;
}


.bigYellow{
  font-size: 40px;
  color: #FDE028;
  font-weight: bold;

}

.whiteText{
  color: white;
  font-size: 20px;
}

/* .infoBox{
  width: 100px;
  position: absolute;
} */


.whiteText1{
  color: white;
  font-size: 20px;
}

.titleWhite1{
  color:#f8f8f8;
  margin-bottom: 50px;
}


/* ::placeholder {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
} */

.zapraszamyDo{
  margin-bottom: 100px;
  text-align: center;
}




.ChceszDolaczycDoGrona{
  text-align: right!important;
}

/* 
.YellowBig{
  color: #FDDB22;
} */



.colores{
  background-color: #eee;
  border-radius: 20px;

}


.header-content-left {
  position: absolute;
   top: -10%; 
  margin-left: 18%;
}



@media (min-width: 2100px) and (max-width: 2300px) {
  .header-content-left{
    margin-left: 10%;
    margin-top: 4%;
  }
}




@media (min-width: 1900px) and (max-width: 2100px) {
  .header-content-left{
      margin-left: 16%;
    margin-top: 4%;
  }
}




@media (min-width: 1850px) and (max-width: 1900px) {
  .header-content-left{
    margin-left: 20%;
    margin-top: 4%;
  }
}



@media (min-width: 1800px) and (max-width: 1850px) {
  .header-content-left{
    margin-left: 21%;
    margin-top: 4%;
  }
}




@media (min-width: 1750px) and (max-width: 1800px) {
  .header-content-left{
    margin-left: 22%;
   margin-top: 4%;
  }
}



@media (min-width: 1700px) and (max-width: 1750px) {
  .header-content-left{
    margin-left: 23%;
   margin-top: 4%;
  }
}


@media (min-width: 1650px) and (max-width: 1700px) {
  .header-content-left{
    margin-left: 24%;
   margin-top: 4%;
  }
}



@media (min-width: 1600px) and (max-width: 1650px) {
  .header-content-left{
    margin-left: 25%;
   margin-top: 4%;
  }
}




@media (min-width: 1540px) and (max-width: 1599px) {
  .header-content-left{
    margin-left: 7%;
    margin-top: 6%;
  }
}



@media (min-width: 1541px) and (max-width: 1549px) {
  .header-content-left{
    margin-left: -14%;
    margin-top: 10%;
  }
}



@media (min-width: 1470px) and (max-width: 1540px) {
  .header-content-left{
    margin-left: -16%;
    margin-top: 14%;
  }
}




@media (min-width: 1390px) and (max-width: 1469px) {
  .header-content-left{
    margin-left: -4%;
    margin-top: 10%;
  }
}


@media (min-width: 1300px) and (max-width: 1390px) {
  .header-content-left{
    margin-top: 12%;
    margin-left: 3%;
  }
}



@media (min-width: 1200px) and (max-width: 1300px) {
  .header-content-left{
    margin-top: 12%;
    margin-left: 3%;
  }
}




@media (min-width: 1150px) and (max-width: 1199px) {
  .header-content-left{
    margin-top: 9%;
    margin-left: -7%;
}
}




@media (min-width: 1100px) and (max-width: 1150px) {
  .header-content-left{
    margin-top: 4%;
    margin-left: -3%;
}
}



@media (min-width: 1050px) and (max-width: 1100px) {
  .header-content-left{
    margin-top: 1%;
    margin-left: 0%;
}
}




@media (min-width: 1000px) and (max-width: 1050px) {
  .header-content-left{
    margin-top: 0%;
    margin-left: 3%;
}
}


@media (min-width: 900px) and (max-width: 999px) {
  .header-content-left{
    margin-top: -35%;
    margin-left: -8%;
}
}

















@media (min-width: 500px) and (max-width: 1000px) {
  .whiteText{
  font-size: small;
  }}
  
  @media (min-width: 500px) and (max-width: 1000px) {
  .bigYellowTop{
    font-size: small;
  }}
  
@media (min-width: 1000px) and (max-width: 1400px) {
.whiteText{
font-size: small;
}}

@media (min-width: 1000px) and (max-width: 1400px) {
.bigYellowTop{
  font-size: small;
}}


@media (min-width: 1400px) and (max-width: 1600px) {
  .whiteText{
    font-size: 15px;
  }}
  
  @media (min-width: 1400px) and (max-width: 1600px) {
  .bigYellowTop{
    font-size: 25px;
  }}
  
  

  
@media (min-width: 1600px) and (max-width: 1800px) {
  .whiteText{
  font-size: 20px;
  }}
  
  @media (min-width: 1600px) and (max-width: 1800px) {
  .bigYellowTop{
    font-size: 30px;
  }}
  



  
  @media (min-width: 1800px) and (max-width: 2000px) {
    .whiteText{
    font-size: 20px;
    }}
    
    @media (min-width: 1800px) and (max-width: 2000px) {
    .bigYellowTop{
      font-size: 35px;
    }}
  

  
    @media (min-width: 2000px) and (max-width: 2200px) {
      .whiteText{
      font-size: 20px;
      }}
      
      @media (min-width: 2000px) and (max-width: 2200px) {
      .bigYellowTop{
        font-size: 35px;
      }}
    
      
  

      @media (min-width: 2200px) and (max-width: 2500px) {
        .whiteText{
        font-size: 20px;
        }}
        
        @media (min-width: 2200px) and (max-width: 2500px) {
        .bigYellowTop{
          font-size: 35px;
        }}
      
        
    


        @media (min-width: 2500px) and (max-width: 2800px) {
          .whiteText{
          font-size: 30px;
          }}
          
          @media (min-width: 2500px) and (max-width: 2800px) {
          .bigYellowTop{
            font-size: 40px;
          }}
        
          





    
  @media (min-width: 2100px) and (max-width: 2400px) {
    .footer{
      font-size: smaller;
      color: #888888;
      margin-left: 20%;
    }
  }
    


  
  @media (min-width: 1900px) and (max-width: 2100px) {
    .footer{
      font-size: smaller;
      color: #888888;
      margin-left: 20%;
    }
  }
    

  
  @media (min-width: 1600px) and (max-width: 1900px) {
    .footer{
      font-size: smaller;
      color: #888888;
      margin-left: 20%;
    }
  }
    


  
  @media (min-width: 1300px) and (max-width: 1600px) {
  .footer{
    font-size: smaller;
    color: #888888;
    margin-left: 20%;
  }
}
  

  
@media (min-width: 1100px) and (max-width: 1300px) {
  .footer{
    font-size: smaller;
    color: #888888;
    margin-left: 15%;
  }
}
  

  
@media (min-width: 900px) and (max-width: 1100px) {
  .footer{
    font-size: smaller;
    color: #888888;
    margin-left: 10%;
  }
}
  
  
@media (min-width: 500px) and (max-width: 900px) {
  .footer{
    font-size: smaller;
    color: #888888;
    margin-left: 5%;
  }
}
  
 
@media (min-width: 200px) and (max-width: 500px) {
  .footer{
    font-size: smaller;
    color: #888888;
    margin-left: 1%;
  }
}
  









@media (min-width: 1500px) and (max-width: 2000px) {
  .roxartFooter{
      margin-left: 50%;
  }
}
@media (min-width: 1000px) and (max-width: 1500px) {
  .roxartFooter{
      margin-left: 30%;
  }
}
@media (min-width: 500px) and (max-width: 1000px) {
  .roxartFooter{
      margin-left: 0%;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .roxartFooter{
      margin-left: 0%; 
  }
}

.naszDoradcaZadzwoni{

}

@media (max-width: 769px){
.menWithComputer{
display: none;
}
}
/* 
@media (min-width: 770px){
  .menWithComputerSmall{
  display: none;
  }
  } */



  @media (max-width: 1000px){
    .logoWarstwa{
    display: none;
    }
    .logoWarstwaMala{
      position: absolute;
      width: 100%;
      max-height: 775px;
      object-fit: cover;
    }
      .ilePotrzebujesz{
          margin-top: 460px;
      /* margin-left: 8px; */
      margin-right: 150px;
      -webkit-box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.17);
      -moz-box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.17);
      box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.17);
      }
    }








      @media (max-width: 1000px){
      .header-content-left{
    margin-left: 190px;
    margin-top: 34px;
      }}

      
    

      @media (min-width: 900px) and (max-width: 1000px){
        
        .header-content-left{
          margin-left: 190px;
          margin-top: 34px;
      }
    
      .ilePotrzebujesz{
   
    }
    }



    @media (min-width: 800px) and (max-width: 900px){
        
      .header-content-left{
        margin-left: 190px;
        margin-top: 22px;
    }
  
    .ilePotrzebujesz{

  }
  }

  @media (min-width: 700px) and (max-width: 800px){
        
    .header-content-left{
      margin-left: 53px;
    margin-top: -124px;

  }

  .ilePotrzebujesz{

}
}


@media (min-width: 600px) and (max-width: 700px){
        
  .header-content-left{
    margin-left: 63px;
    margin-top: -157px;
}

.ilePotrzebujesz{

}
}


@media (min-width: 500px) and (max-width: 600px){
  .logoWarstwaMala{
    display: none;
  }
.ilePotrzebujesz{

}
}



@media (min-width: 400px) and (max-width: 500px){
  .logoWarstwaMala{
    display: none;
  }
  .ilePotrzebujesz{

  }
  }




  @media (max-width: 400px){
    .logoWarstwaMala{
      display: none;
    }
    .ilePotrzebujesz{

    }
    }
  





    
    @media (min-width: 1000px){
      .logoWarstwaMala{
      display: none;
      }
      }



.boldText::placeholder, .boldText {
  font-weight: bold;
  color: black;
}


@media (max-width: 1200px){
.portret1{
  display: none;
}
}



@media (max-width: 1000px){
  .portret2{
    display: none;
  }
  }


/*   
@media (max-width: 1000px){
  .portret3{
    display: none;
  }
  } */



  /* @media (max-width: 1000px){
  .zakryteZdjeciem{

  }
} */



/* @media (min-width: 1px) and (max-width: 699px){
.gornaCzesc{
  display: none;
}
}




@media (min-width: 700px) and (max-width: 9999px){
  .gornaCzescMobile{
    display: none;
  }
  }
 */

  @media(max-width: 550px){
  .arrow{
    display: none;
  }
  }




  @media (min-width: 1001px) and (max-width: 1550px){
  .ilePotrzebujesz{

  }
}




@media (min-width: 999px) and (max-width: 1550px){
  .logoWarstwaSrednia{
    position: absolute;
    width: 100%;
    max-height: 775px;
  }


  .logoWarstwaMala{
    position: absolute;
    width: 100%;
    max-height: 775px;
  }


  .logoWarstwaSrednia{
    position: absolute;
    width: 100%;
    max-height: 775px;
  }


}


@media (max-width: 999px){
  .logoWarstwaSrednia{
    display: none;
  }
}


@media (min-width: 1550px){
  .logoWarstwaSrednia{
    display: none;
  }
}





@media (min-width: 768px) and (max-width: 800px) {
  .header-content-left{
    margin-left: 190px;
    margin-top: -2px;
}
}





@media (min-width: 1200px) and (max-width: 1599px){
.cytat{
   left: 660px; z-index: 100;
}
}


@media (min-width: 992px) and (max-width: 1200px){
.cytat{
  left: 543px;
  z-index: 100;
}
}

@media (min-width: 768px) and (max-width: 992px){
.cytat{
  left: 496px;
  top: 257px;
}
}


@media (min-width: 500px) and (max-width: 768px){
  .cytat{
    width: 17%;
    left: 194px;
    top: 71px;
  }
  }



  @media(max-width: 500px){
    .cytat{
      display: none;
    }
    }


@media (min-width: 1600px){
  .cytat{
    left: 969px;
    z-index: 100;
  }
  }
  
  
@media (min-width:1000px) and (max-width:1000px){
  .header-content-left{
  margin-left: 48px;
}}







@media (min-width:900px) and (max-width:1000px){
  .ilePotrzebujesz{
margin-top: 492px;
}}



@media (min-width:800px) and (max-width:900px){
  .ilePotrzebujesz{
    margin-top: 410px;
}}



@media (min-width:700px) and (max-width:800px){
  .ilePotrzebujesz{
    margin-top: 316px;
    margin-right: 15%;
}}



@media (min-width:767px) and (max-width:800px){
  .ilePotrzebujesz{
    margin-top: 359px;
    margin-right: 30%;
}}





@media (min-width:600px) and (max-width:700px){
  .ilePotrzebujesz{
    margin-top: 222px;
    margin-right: 75px;
}}







@media (max-width:600px){
  .zakryteZdjeciem{
background-color:  green;
  }
}



@media (min-width:600px){
.bigGreyBlue{
  background: #F5F5F5;
}
}


@media (max-width:600px){
  .bigGreyBlue{
    background:  #EEEEEE;
  }

.infoBox{
  text-align: center;
}


.header-content-left {
  position: relative;
  top: 0%;
  margin-left: 26%;
}

.ilePotrzebujesz{
    position: relative;
    margin-top: 20px;
    margin-right: 81px;
}


.bigYellowTop{ 
  color: #FDE028;
  font-size: 30px;
  font-weight: bold;
}



.whiteText{
  color: black;
}

.titleWhite{
  font-size: 25px;
  font-weight: bold;
}

.personalCard{
  margin: auto;
}

.ChceszDolaczycDoGrona{
  text-align: center !important;
}

}
  




@media (min-width:100px) and (max-width:500px){
  .bigGreyBlue{
    background:  #EEEEEE
    ;
  }

.infoBox{
  text-align: center;
}


.header-content-left {
  position: relative;
  top: 0%;
  margin-left: 26%;
}

.ilePotrzebujesz{
    position: relative;
    margin-top: 20px;
  width: 100%;
  margin-right: 0px;
}



}





@media (min-width:100px) and (max-width:500px){
.footer{
  display: none;
}
.footerMobile{
  font-size: smaller;
  color: #888888;
  margin-left: 5%;
}


.bigYellowTop{ 
  color: #FDE028;
  font-size: 30px;
  font-weight: bold;
}



.whiteText{
  color: black;
}



.titleWhite{
  font-size: 25px;
  font-weight: bold;
}

}


@media (min-width:500px){
  .footerMobile{
    display: none;
  }
}


